* {
    padding: 0;
    margin: 0;
  }

body{
    background-color:rgb(247, 242, 237);
}

.cont{
    padding: 15px 15px 15px 15px;
    width: auto;
    border-radius: 10px;
    display: flex;
    word-wrap: wrap;
    background-color: #E9E8E2;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 600px;
    margin-top: 15px;
}

a{
    color: black;
    padding: 10px 35px 10px 35px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(173, 169, 169);
}

img{
    padding-right: 15px;
    width:150px;
    height: 150px;
}

a.button { 
    color: black; 
    padding: 10px 35px 10px 35px; 
    text-decoration: none; 
    border-radius: 10px; 
    background-color: rgb(173, 169, 169); 
    margin:25px 0px 0px 0px ;
    display: block;
    max-width:72px ;
}

.alls{
    padding: 15px 15px 15px 15px;
    width:150px ;
    height:150px ;
    border-radius: 10px;
    display: flex;
    word-wrap: wrap;
    background-color: #E9E8E2;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 150px;
    margin-top: 0px;
}

a.btn { 
    color: rgb(214, 212, 212); 
    padding: 10px 35px 10px 35px; 
    text-decoration: none; 
    border-radius: 10px; 
    background-color: rgba(255, 0, 0, 0.856); 
    margin:0px 0px 0px 0px ;
    display: block;
    max-width:60px ;
    font-size: 18px;
    position:relative ;
    left:23px ;
    top:20px;
}

.gamepage{
display:flex ;
}

p.text{
    padding:120px 30px 30px 0px ;
    text-wrap:wrap ;
    font-size:18px ;

}